<!DOCTYPE html>
<html dir='rtl'>
	<head>
	<title>{{page.title}}</title>
	{% comment %}
	{% include gtag.js %}
	{% endcomment %}
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="icon" href="data:;base64,=">	
	</head>
	<body style="background-color: gainsboro;">
	<header>
	<table>
   <colgroup>
       <col span="1" style="width: 1%;">
       <col span="1" >
       <col span="1" style="width: 4%;">
    </colgroup>
	<tbody>
	<tr>
	<td class="picture">
		<img style='height: 6Em;' src="{{site.baseurl}}/carmi.jpg">
	</td>
	<td>
	<h2>כרמי מרימוביץ</h2>
		<h4>אני חבר סגל אקדמי בכיר
		<a href="//www.cs.mta.ac.il">בבית הספר למדעי המחשב</a>
		של
		<a href="//www.mta.ac.il">
		המכללה האקדמית תל-אביב.</a>
		הנה דף 
		<a href="https://www.cs.mta.ac.il/staff/Carmi/mePublished_frml_he.html">
		יותר רשמי.</a></h4>
		<h4>
		התוכנית היא לשים פה מגוון תרגילים בארכיטקטורה ומערכות הפעלה להנאת הקהל.
		</h4>
	</td>
	<td>
	{% if page.name == 'index_he.html' %}
			{% assign s = page.name | remove: "_he.html" %}
		<a href="{{site.baseurl}}{{s}}">
		<table style="border: 0; text-align: center;">
		<tr><td style="padding:0;">
		<img  class="flag" src="{{site.baseurl}}/images/us.svg" />
		</td></tr>
		<tr><td style="font-size: xx-small;  padding:0;">
			to English</td></tr>
		</table>
		</a>
	{% endif %}
	</td>
	</tr>
	</tbody>
	</table>
	</header>
	{% if page.shortText %}
	<h2>{{page.shortText}}</h2>
	{% endif %}
