<!DOCTYPE html>
<html>
	<head>
	<title>{{page.title}}</title>
	{% comment %}
	{% include gtag.js %}
	{% endcomment %}
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="icon" href="data:;base64,=">	
	</head>
	<body style="background-color: gainsboro;">
	<header>
	<table>
   <colgroup>
       <col span="1" style="width: 1%;">
       <col span="1" >
       <col span="1" style="width: 4%;">
    </colgroup>
	<tbody>
	<tr>
	<td class="picture">
		<img style='height: 6Em;' src="{{site.baseurl}}/carmi.jpg">
	</td>
	<td>
	<h2>Carmi Merimovich</h2>
		<h4>I am a senior faculty of the
		<a href="//www.cs.mta.ac.il">School of Computer Science</a>
		at
		<a href="//www.mta.ac.il">
		the Academic College of Tel-Aviv.</a>
		Here's a somewhat 
		<a href="https://www.cs.mta.ac.il/staff/Carmi/mePublished_frml_en.html">
		more formal page.</a></h4>
	</td>
	<td>
	{% if page.name == 'index.html' or  page.name == 'index_he.html' %}
		{% if page.name == 'index.html'%}
			{% assign s = 'index_he.html' %}
		{% else %}
			{% assign s = page.name | remove: "_en.html"
							| append: "_he.html" %}
		{% endif %}
		<a href="{{site.baseurl}}{{s}}">
		<table style="border: 0; text-align: center;">
		<tr><td style="padding:0;">
		<img  class="flag" src="{{site.baseurl}}/images/il.svg" />
		</td></tr>
		<tr><td style="font-size: xx-small;  padding:0;">
			לעברית</td></tr>
		</table>
		</a>
	{% endif %}
	</td>
	</tr>
	</tbody>
	</table>
	</header>
	{% if page.shortText %}
	<h2>{{page.shortText}}</h2>
	{% endif %}
